.resetbutton{
    justify-content: center;
    margin: 4rem auto;
    font-size: 3rem;
    display: flex;
    height: 3rem;
        
}

.resetbutton button{
    width: 8rem;
    background-color: red;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5px 5px 2px #888; */
    font-size: 1.5rem;
    font-weight: 600;
}